{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>about</title>
  <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="home"><--Back To Home</a>
    </div>
  </div>
</nav>




<div class="container">
  <h1 style="text-align:center">ABOUT US</h1>
  <br>
  <p>Travel Diaries is a leading digital platform for local service businesses in India. Travel Diaries focuses on expert services clustered around Home, Life and Self and where the user need is customized. Using technology and domain intelligence, the platform seeks to understand the user need in detail and matches it to verified service professionals.</p>
</div>
  <div class="container">
  <h2 style="text-align:center">Our Team</h2>

<div class="container mt-3">
  <div class="row">
    <div class="col-sm-4">
      <div class="card" style="width:300px">
        <img class="card-img-top" src="{% static 'images/team_1.jpg' %}" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">John Doe</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card" style="width:300px">
        <img class="card-img-top" src="{% static 'images/team_2.jpg' %}" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">John Doe</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card" style="width:300px">
        <img class="card-img-top" src="{% static 'images/team_3.jpg' %}" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">John Doe</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

  </div>
</div>
</div>

</body>
</html>
